/* main */

.main section {
  max-width: 42em;
  text-align: left;
  margin-bottom: 3em;
}

.main section p {
  margin-bottom: 1em;
}

/* title area  */

.title-area {
  margin-top: 1em;
}

/* toc area  */

.toc-area {
  margin-bottom: 3em;
}

.toc-area h2 {
  font-weight: normal;
  font-size: 1.75em;
}

.toc-area h4 {
  font-weight: normal;
  font-size: 1.125em;
  padding-left: 3em;
}

.toc-area h6 {
  font-weight: normal;
  font-size: 1.125em;
  padding-left: 6em;
}

.toc-area h6 + h4 {
  padding-top: 0.5em;
}

/* doc area  */

.doc-area {
}

.doc-area h2 {
  font-weight: normal;
  padding-top: 1em;
}

.doc-area h3 {
  font-weight: bold;
  padding-top: 1em;
}

.doc-area h4 {
  font-weight: bold;
}

/* misc */

.doc-area ul {
  padding-bottom: 1em;
}
