/* header area  */
body header { /* reimplement main.css */
  position: relative;
  margin-bottom: -4em;
}

/* intro area  */

.intro-area {
  background-color: #f9f9f9;
}

/* logo area  */

.logo-area {
  padding-top: 3.0em;
}

.logo-area img {
  height: 5em;
  width: auto;
  padding-right: 0.75em;
  padding-top: 0.75em;
}

/* motto area  */

.motto-area {
  padding-top: 2em;
}

.motto-area section span {
  color: #222;
  font-size: 2.2em;
  line-height: 1em;
}

/* prototype area  */

.prototype-area {
  padding-top: 3em;
}

.prototype-area section p {
  color: #333;
  font-size: 1.1em;
}

/* download area  */

.download-area {
  padding-top: 0.1em;
  padding-bottom: 4.5em;
}

.download-area button {
  height: 4em;
  width: 16.5em;
}

.download-area section article {
  padding: 0em;
  margin: 0.35em 0.25em;
  display: inline-block;
}

/* screenshot area  */

.screenshot-area {
  background-color: #313131;
}

.screenshot-area img {
  width: 100%;
  height: auto;
  margin-top: -24px;
  margin-bottom: -54px;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

/*
.slide {
  display: none;
}

.slide.active {
  display: inline;
  animation: fading-inactive 0s
}
*/

@keyframes fading-inactive{
  0% {opacity: 0}
  100% {opacity: 1}
}

/* description area  */

.description-area {
  padding-top: 4em;
  padding-bottom: 2em;
  background-color: #e0e0e0;
}

.description-area section p {
  color: #555;
  font-size: 1.25em;
  line-height: 1.5em;
}

.description-area section p a, a:visited {
  font-size: 0.85em;
  margin-top: -1px;
  margin-bottom: -1px;
  padding-left: 1ex;
  padding-right: 1ex;
  border: #ddd solid 1px;
  border-radius: 4px;
  background-color: #e9e9e9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.description-area section p a:hover, a:active {
  background-color: #009fee;
  border-color: #ddd;
  color: white
}

/* features area  */

.features-area {
  padding-top: 0em;
  padding-bottom: 2em;
  background-color: #f0f0f0;
}

.features-area section h3 {
  padding-top: 1em;
  padding-bottom: 0em;
  font-weight: bold;
  color: #222;
}

.features-area section p {
  font-size: 1.125em;
  line-height: 1.5em;
}

.features-area section article {
  width: 36%;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  display: inline-block;
  vertical-align: top;
}

.features-area section article + article {
  margin-top: 0em;
}

.features-area section article p a, a:visited {
  font-size: 0.85em;
  margin-top: -1px;
  margin-bottom: -1px;
  padding-left: 1ex;
  padding-right: 1ex;
  border: #eaeaea solid 1px;
  border-radius: 4px;
  background-color: #f8f8f8;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.features-area section article p a:hover, a:active {
  background-color: #009fee;
  border-color: #eaeaea;
  color: white
}
