/* logo area  */

.logo-area {
  padding-top: 2em;
  background-color: #f9f9f9;
}

.logo-area img {
  width: 20em;
  height: auto;
}

/* version area  */

.version-area {
  padding-top: 0.5em;
  background-color: #f9f9f9;
}

.version-area section p {
  font-size: 1.0em;
  color: #666
}

/* description area  */

.description-area {
  padding-top: 2em;
  background-color: #f9f9f9;
}

.description-area section div {
  width: 70%;
  display: inline-block;
  font-size: 2.0em;
  line-height: 1.3em;
}

/* download area  */

.download-area {
  padding-top: 2em;
  padding-bottom: 4em;
  background-color: #f9f9f9;
}

.download-area button {
  height: 3.6em;
  width: 15em;
}

.download-area section article {
  padding: 0em;
  margin: 0.35em 0.25em;
  display: inline-block;
}

/* screenshot area  */

.screenshot-area {
  background-color: #313131;
}

.screenshot-area img {
  width: 100%;
  height: auto;
  margin-top: -1em;
  margin-bottom: -1.5em;
}

/* features area  */

.features-area {
  background-color: #f2f2f2;
  padding-top: 1em;
  padding-bottom: 2em;
}

.features-area section article {
  width: 35%;
  margin: 0.5em 2.5em;
  vertical-align: top;
  display: inline-block;
}

.features-area h3 {
  padding-top: 0em;
  padding-bottom: 0.5em;
  font-weight: bold;
}
