/* header area  */
body header { /* reimplement main.css */
  position: relative;
  margin-bottom: -4em;
}

/* intro area  */

.intro-area {
  background-color: #f9f9f9;
}

/* logo area  */

.logo-area {
  padding-top: 3.0em;
}

.logo-area img {
  height: 5em;
  width: auto;
  padding-right: 0.75em;
  padding-top: 0.75em;
}

/* motto area  */

.motto-area {
  padding-top: 2em;
}

.motto-area section span {
  color: #222;
  font-size: 2.2em;
  line-height: 1em;
}

/* prototype area  */

.prototype-area {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prototype-area section p {
  color: #333;
  font-size: 1.1em;
}

/* download area  */

.download-area {
  margin-top: 1em;
  padding-top: 0.1em;
  padding-bottom: 4.5em;
}

.download-area section article {
  display: none;
  padding: 0em;
  margin: 0.35em 0.25em;
}

.download-area section article div {
  font-size: 1.1em;
  color: #444
}

.download-area section p {
  font-size: 1.1em;
  cursor: pointer;
}

.download-area button {
  height: 5em;
  width: 16.25em;
  background-color: #252525;
  color: white;
  border: #cdcdcd solid 0.5px;
  border-radius: 2px;
}

.download-area button:disabled {
  background-color: #444;
  cursor: initial;
}

.download-area button:disabled div {
  color: #ccc;
}

.download-area button:disabled img {
  filter: invert(20%); /* black to dark gray */
}

/*
.download-area button:hover {
  filter: opacity(95%);
}
*/

.download-area button img {
  display: inline-block;
  width: 2.3em;
  height: auto;
  margin-left: -0.5em;
  margin-right: 1em;
  vertical-align: middle;
}

.download-area button div {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 1.1em;
  line-height: 0.7em;
}

.download-area section article button div {
  color: white
}
.download-area button span {
  display: block;
  text-align: left;
  font-size: 2.0em;
  line-height: 1.2em;
  font-weight: bold;
}

.download-area #snap button {
  border: none;
  border-radius: 2px;
}

.download-area #snap button img {
  height: 5em;
  width: auto;
  margin: 0;
}

/* screenshot area  */

.screenshot-area {
  background-color: #313131;
}

.screenshot-area img {
  width: 100%;
  height: auto;
  margin-top: -24px;
  margin-bottom: -54px;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

/*
.slide {
  display: none;
}

.slide.active {
  display: inline;
  animation: fading-inactive 0s
}
*/

@keyframes fading-inactive{
  0% {opacity: 0}
  100% {opacity: 1}
}

/* description area  */

.description-area {
  padding-top: 4em;
  padding-bottom: 2em;
  background-color: #e0e0e0;
}

.description-area section p {
  color: #555;
  font-size: 1.25em;
  line-height: 1.5em;
}

.description-area section p a, .description-area section p a:visited {
  font-size: 0.85em;
  margin-top: -1px;
  margin-bottom: -1px;
  padding-left: 1ex;
  padding-right: 1ex;
  border: #ddd solid 1px;
  border-radius: 4px;
  background-color: #e9e9e9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.description-area section p a:hover, .description-area section p a:active {
  background-color: #009fee;
  border-color: #ddd;
  color: white
}

/* features area  */

.features-area {
  padding-top: 0;
  padding-bottom: 2em;
  background-color: #f0f0f0;
}

.features-area section article {
  display: inline-block;
  vertical-align: top;
  width: 36%;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 3em;
}

.features-area section article + article {
  margin-top: 2em;
}

.features-area section article img {
  display: inline-block;
  vertical-align: bottom;
  height: 3em;
  width: auto;
  filter: invert(20%); /* black to dark gray */
}

.features-area section article h3 {
  margin-top: 0.5em;
  padding: 0;
  font-weight: bold;
  color: #222;
}

.features-area section article p {
  margin-top: 0.5em;
  font-size: 1.125em;
  line-height: 1.5em;
}

.features-area section article a, .features-area section article a:visited {
  display: inline-block;
  margin-top: 0.5em;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  padding-left: 1ex;
  padding-right: 1ex;
  font-size: 1.125em;
  background-color: #f8f8f8;
  border: #eaeaea solid 1px;
  border-radius: 4px;
}

.features-area section article a:hover, .features-area section article a:active {
  background-color: #009fee;
  border-color: #eaeaea;
  color: white
}
