/*****************/
/* Global vars   */
/*****************/

:root {
  --section-width: 70.0%;
}
/* for i in range(26): print("@media screen and (max-width: {0}px) {{ --section-width: {1}%; }}".format(1200-10*i, 70+i)) */
/* for i in range(36): print("@media screen and (max-width: {0}px) {{ section {{ width: {1}%; }} }}".format(1200-12*i, 60+i)) */
/* for i in range(51): print("@media screen and (max-width: {0}px) {{ section {{ width: {1}%; }} }}".format(1600-10*i, 70+i*0.5)) */
/* @media screen and (max-width: 2000px) { --section-width: 80%; } } */
@media screen and (max-width: 1200px) { --section-width: 70%; }
@media screen and (max-width: 1190px) { --section-width: 71%; }
@media screen and (max-width: 1180px) { --section-width: 72%; }
@media screen and (max-width: 1170px) { --section-width: 73%; }
@media screen and (max-width: 1160px) { --section-width: 74%; }
@media screen and (max-width: 1150px) { --section-width: 75%; }
@media screen and (max-width: 1140px) { --section-width: 76%; }
@media screen and (max-width: 1130px) { --section-width: 77%; }
@media screen and (max-width: 1120px) { --section-width: 78%; }
@media screen and (max-width: 1110px) { --section-width: 79%; }
@media screen and (max-width: 1100px) { --section-width: 80%; }
@media screen and (max-width: 1090px) { --section-width: 81%; }
@media screen and (max-width: 1080px) { --section-width: 82%; }
@media screen and (max-width: 1070px) { --section-width: 83%; }
@media screen and (max-width: 1060px) { --section-width: 84%; }
@media screen and (max-width: 1050px) { --section-width: 85%; }
@media screen and (max-width: 1040px) { --section-width: 86%; }
@media screen and (max-width: 1030px) { --section-width: 87%; }
@media screen and (max-width: 1020px) { --section-width: 88%; }
@media screen and (max-width: 1010px) { --section-width: 89%; }
@media screen and (max-width: 1000px) { --section-width: 90%; }
@media screen and (max-width: 990px) { --section-width: 91%; }
@media screen and (max-width: 980px) { --section-width: 92%; }
@media screen and (max-width: 970px) { --section-width: 93%; }
@media screen and (max-width: 960px) { --section-width: 94%; }
@media screen and (max-width: 950px) { --section-width: 95%; }
/*********/
/* Fonts */
/*********/

@font-face { /* Webfont: LatoLatin-Light */
  font-family: 'Lato';
  src: url('../fonts/LatoLatin-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/LatoLatin-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: optimizeLegibility;
}

@font-face { /* Webfont: LatoLatin-Regular */
  font-family: 'Lato';
  src: url('../fonts/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/LatoLatin-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-rendering: optimizeLegibility;
}

/*****************/
/* Main elements */
/*****************/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  /*font-style: normal; /* normal, italic, oblique, ... */
  /*font-weight: normal; /* normal, bold, bolder, lighter, ... */
  font-variant: normal; /* normal, small-caps, ... */
  font-family: 'Lato', Helvetica, sans-serif;
}

html {
  height: 100%;
  background-color: #313131;
}

body {
  height: 100% ;
  line-height: 1.5em;
  background-color: #313131;
}

header, footer {
  width: 100%;
  height: 4em;
  line-height: 4em;
  background-color: #313131;
}

body header {
  position: fixed;
}

section {
  width: var(--section-width);
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 0em;
  padding-bottom: 0em;
  font-size: 1em;
}

.main {
  min-height: calc(100% - 8em); /* minus header and footer heights? */
  padding-top: 4em;
  background-color: #f0f0f0;
  overflow: hidden;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

article {
  font-size: 1em;
  line-height: 1.5em;
}

article + article {
  padding-top: 1em;
}

code {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  background: #f8f8f8;
  border: #eaeaea solid 1px;
  border-radius: 4px;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.code-block {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.instructions {
  display: block;
  background: #f8f8f8;
  border: #eaeaea solid 1px;
  border-radius: 4px;
  margin-top: 0em;
  margin-bottom: 0.75em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  font-weight: normal;
  font-size: 3.0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #000;
}

h1 img {
  display: inline-block;
  height: 1em;
  width: auto;
  margin-right: 0.3em;
  margin-bottom: 0.2em;
  vertical-align: middle;
  filter: invert(20%); /* black to dark gray */
}

h2 {
  font-weight: normal;
  font-size: 1.75em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  color: #000;
}

h3 {
  font-weight: bold;
  font-size: 1.25em;
  padding-top: 1.5em;
  padding-bottom: 1.0em;
  color: #222;
}

h4 {
  font-weight: normal;
  font-size: 1.125em;
  padding-top: 0em;
  padding-bottom: 0.25em;
  color: #444;
}

h5 {
  font-weight: bold;
  font-size: 1.125em;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
  color: #555;
}

h6 {
  font-weight: normal;
  font-size: 1em;
  padding-top: 0.25em;
  padding-bottom: 0em;
  color: #666;
}

p {
  font-size: 1em;
  margin-top: 0.75em;
  color: #555;
}

p img {
  display: inline-block;
  height: 1em;
  width: auto;
  margin-right: 0.3em;
  margin-bottom: 0.2em;
  vertical-align: middle;
  filter: invert(40%); /* black to dark gray */
}

b {
  color: #555;
}

/*********/
/* Links */
/*********/

a {
  text-decoration: none;
}

a, a:visited {
  color: #008bd0;
}

a:hover {
  color: #009fee;
}

/*********/
/* Items */
/*********/

ol {
  margin-top: 0;
  margin-left: 1.4em; /* list-style-position: inside; */
  font-size: 1em;
  color: #555;
}

ul {
  margin-top: 0;
  margin-left: 1.1em; /* list-style-position: inside; */
  font-size: 1em;
  color: #555;
}

ul ul {
  padding-top: 0em;
  padding-left: 0em;
  font-size: 1em;
}

nav {
  color: #fff;
}

nav ul {
  text-align: right;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
}

nav ul li {
  display: inline;
  font-weight: bold;
}

nav ul li a, nav ul li a:visited {
  color: #b7b7b7;
}

nav ul li a.active {
  color: white;
}

nav ul li a:hover:not(.active) {
  color: white;
}

nav ul li a > img {
  filter: invert(100%) opacity(60%);
}

nav ul li a.active > img {
  filter: invert(100%) opacity(90%);
}

nav ul li a:hover:not(.active) > img { /* change "img" when hover "a" */
  filter: invert(100%) opacity(90%);
}

header ul li {
  padding-left: 1.5em;
}

header ul li:first-child {
  float: left;
  padding-left: 0em;
}

header a img, footer a img {
  display: inline-block;
  height: 1em;
  width: auto;
  vertical-align: middle;
  margin-bottom: 0.15em;
  margin-right: 0.4em;
  filter: invert(90%);
}

footer ul {
  color: #b7b7b7;
  text-align: center;
}

footer ul li {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

/***********/
/* Images  */
/***********/

img {
  max-width: 100%;

  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 0px;
}

.screenshot {
  display: block;
  overflow: hidden;

  line-height: 0; /* removes extra padding on linked images */

  width: 100%;
  height: auto;

  margin-top: 1em;
  margin-bottom: 1em;

  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 4px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
  /* Display over the entire page */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);

  /* We hide all this by default */
  visibility: hidden;
  opacity: 0;

  /* Animation */
  transition: opacity .3s;
}

.overlay img {
  /* Maximum image size */
  max-width: 100%;
  max-height: 100%;

  /* We keep the ratio of the image */
  width: auto;
  height: auto;

  /* Absolute center */
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  /* Animation */
  transform: scale(0.95);
  transition: transform .3s;
}

.overlay:target {
  visibility: visible;
  opacity: 1;

  outline: none;
  cursor: default;
}

/* Animation */
.overlay:target img {
    transform: scale(1);
}

/***********/
/* Videos  */
/***********/

.video-frame {
  grid-area: figure;
  margin-top: 1em;

  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 4px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video-frame video {
  width: 100%;
  height: auto;
  margin-bottom: -0.3em;
  border-radius: 3px;
}

/***********/
/* Buttons */
/***********/

button {
  height: 2.6em;
  width: 100%;
  margin: 0em;
  background-color: #00a1df;
  color: white;
  border: none;
  border-radius: 4px;
  text-rendering: geometricPrecision;
  font-size: 1em;
  _font-weight: bold;
  text-rendering: geometricPrecision;
}

button img {
  display: inline-block;
  width: 1.5em;
  height: auto;
  margin-right: 0.5em;
  vertical-align: middle;
}

button div {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1em;
  line-height: 1.1em;
}

button span {
  display: block;
  font-size: 0.7em;
}

button:hover {
  background-color: #0090c9;
  cursor: pointer;
}

button:disabled {
  background-color: #bbb;
  cursor: initial;
}
