/* main */

.main section {
  max-width: 46em;
  text-align: left;
}

/* toc (left column) */

.sidebar-toc-area {
  position: fixed;
  float: left;
  margin-left: -20em;
  padding: 1em;
  background: #f8f8f8;
  border: #eaeaea solid 1px;
  border-radius: 4px;
}

.sidebar-toc-area ul {
  margin: 0;
  margin-left: 1.5em;
  margin-right: 0.5em;
}

.sidebar-toc-area ul li + li{
  margin-top: 0.5em;
}

@media screen and (max-width: 1450px) {
  .sidebar-toc-area {
    visibility: hidden;
  }
}

/* title-area (right column) */

.title-area {
  margin: 0;
  padding: 0;
  margin-top: 3em;
}

.title-area h1 {
  margin: 0;
  margin-left: -0.1em;
  padding: 0;
}

.title-area p {
  margin: 0;
  padding: 0;
  margin-top: 2.5em;
}

.title-area p + p {
  margin-top: 1.5em;
}

.toc-area {
  margin: 0;
  padding: 0;
  margin-top: 2.5em;
}

.toc-area ul {
  margin-left: 1.3em;
}

.toc-area ul li + li {
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
}

/* video (right column) */

.video-description {
  margin-top: 3em;
}

/* misc */

.active {
  font-weight: bold;
}
